.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.introducao h1{
    font-size: 4.5rem;
    line-height: 1.135;
    margin-bottom: 30px;
    position: relative;
    top: -40px;
}

.introducao h1::before{
    content: "";
    display: block;
    width: 80px;
    height: 90px;
    background: url("../img/Rectangle1.png") no-repeat center;
    position: absolute;
    top: 8.5px;
    left: -53px;
}

.introducao h1::after{
    content: "";
    display: block;
    width: 187px;
    height: 90px;
    background: url("../img/Rectangle2.png") no-repeat center;
    position: absolute;
    top: 181px;
    left: 362.8px;
}
.introducao h2{
    margin-bottom: 10px;
}
.introducao p{
    font-weight: 400;
    text-align: justify;
    color: #525252;
    line-height: 1.8;
}

@media(max-width:1000px){
    .introducao h1{
        font-size: 3rem;
    }
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1{
        font-size: 2rem;
    }
    .introducao h1::before{
        width: 30px;
        height: 10px;
        left: 0px;
    }
    .introducao h1::after{
        width: 90px;
        height: 10px;
        left: 171px;
        top: 115px;
    }
}

@media(max-width:603px){
    .introducao h1::after{
        width: 90px;
        height: 10px;
        left: 1px;
        top: 152px;
    }
}

@media(max-width: 400px){
    .introducao{
        grid-template-columns: 1fr;
    }
    .introducao img {
        display: none;
    }
}